.about_me {
  padding: 5rem 0rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.about_me_img{
  width: 480px;
  height: 480px;
  display: flex;
  background-color: var(--box-color);
}

img {
  height: 100%;
}

.about_me_text{
  width: 40%;
  height: auto;
  align-items: flex-start;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}